# Root filesystems (created at runtime, never commit)
rootfs-*/
logs/

# Alpine tarballs
*.tar.gz
*.tar.gz.*

# Kernel module build artifacts
boilerplate/*.o
boilerplate/*.ko
boilerplate/*.mod
boilerplate/*.mod.c
boilerplate/*.mod.o
boilerplate/Module.symvers
boilerplate/modules.order
boilerplate/.*.cmd
boilerplate/.tmp_versions/

# User-space compiled binaries
boilerplate/engine
boilerplate/memory_hog
boilerplate/cpu_hog
boilerplate/io_pulse

# Runtime logs
boilerplate/logs/
boilerplate/*.log

# Editor junk
*.swp
*.swo
*~
